.formContainer {
    max-width: 250px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(144, 168, 184);
    
}

.formContainer label {
    display: block;
    margin-bottom: 8px;
}

.formContainer input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.formContainer button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.formContainer button:hover {
    background-color: #45a049;
}
